.addstudent {
	/* background-color: red; */
	width: 90%;
	height: auto;
	margin: auto;
	padding-top: 3em;
}

.addstudentMain {
	padding-top: 2em;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}


.addstudentMainRight{
    display: flex;
    width: 35%;
    /* border: 1px solid red; */
    flex-direction: column;
    /* padding: 50px; */
    justify-content: space-between;
}

.addstudentMainRight>*{
    padding-top: 3rem;
}

.profileimg{
	max-width: 200px;
	max-height: 250px;
}

.profileimg img{
	width: 100%;
}


@media only screen and (max-width: 900px) {
	.addstudentMain{
		display: flex;
		flex-direction: column;
	}
	.addstudentMainRight{
		width: auto;
	}
	.addstudentMainRight>*{
		padding-top: 1em;
	}
}