.nav {
	background-color: white;
	height: 13vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
    padding: 0.069em 9.6em 0;
}

.logo {
	height: 20%;
	/* padding-right: 10em; */
}

.navMenu {
	background-color: white;
    /* padding-right: 10rem; */
	height: 3%;
	display: flex;
	gap: 2em;
}

.navBtn{
	height: 20%;
}

.navMenuItem:hover{
	background-color: #1976d2;
}

.logoImage {
	/* border: 1px solid red; */
	margin-top: -27%;
	width: 80%;
	/* height: 150%; */
}


@media only screen and (max-width: 900px) {
	.nav{
		/* background-color: red; */
		padding: 0em 1.3em;
	}

	#home{
		display: none;
	}
}


@media only screen and (max-width: 320px) {
	#contact{
		display: none;
	}
}