.studentR{

}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__fields{
  display: flex;
  justify-content: space-between;
}

.image_class{
  width: 400px;
  padding: 2em;
}

.image_class img{
  width: 100%;
}

.recordsHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}
.select_period{
    width: 10em;
}

.body table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .body td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .body  tr:nth-child(even) {
    background-color: #dddddd;
  }
  